.profile__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  display: inline-block;
  padding-left: 30px;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 294px;
}

@media screen and (max-width: 1073px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 323px) {
  .profile__title {
    padding-left: 26px;
  }
}